{
    "classes": {
        "canaryprism.minsweeper.MinsweeperGame": "MinsweeperGame",
        "canaryprism.minsweeper.BoardSize": "BoardSize",
        "canaryprism.minsweeper.ConventionalSize": "ConventionalSize"
    },
    "dependencies": [
        "io.github.canary-prism:minsweeper-java:2.0.3"
    ]
}